{% extends 'home/base.html' %}
{% block content %}
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>About Us</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br>
<div class="about_info_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="about_thumb">
                    <img src="../static/img/banner/img2.jpg" alt="" style="height: 300px;">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="about_text">
                    <h3>Why our Consulting?</h3>
                    <p>Minawa Communications Technology was started to provide reliable solutions in Networking,
                        Electrical, Solar, and Fiber Optics Technologies. <br>
                        We sell Networking Equipment as our core Bussiness. In addition we provide long lasting solutions in
                        Electrical, Solar and Survailance Systems. We maintain, implement and provide Fiber Optic solutions and Connectivity.</p>
                        <!-- <a href="#" class="boxed-btn3">About Us</a> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="case_study_area" style="background-color: #EAE2B7;">
    <div class="container">
        <div class="border_bottom">
                <div class="row">
                        <div class="col-xl-12">
                            <div class="section_title text-center mb-40">
                                <h3>Our Core Values</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="case_active owl-carousel">
                                    <div class="single_case">
                                            <div class="case_thumb">
                                                    <img src="" alt="">
                                                </div>
                                        <div class="case_heading">
                                            <h3><a href="#">Customers - driven</a></h3>
                                            <span> We are respectful, responsive, quality focused, caring and consistent in all customers relations</span> <br><br>
                                                
                                        </div>
                                    </div>
                                    <div class="single_case">
                                        <div class="case_thumb">
                                                <img src="" alt="">
                                            </div>
                                    <div class="case_heading">
                                        <h3><a href="#">Teamwork</a></h3>
                                        <span>Every member of our company contributes their individual time and talent in a coordinated efforts to ensure the company will consistently meet it's strategic goals</span>
                                            
                                    </div>
                                </div>
                                <div class="single_case">
                                    <div class="case_thumb">
                                            <img src="" alt="">
                                    </div>
                                    <div class="case_heading">
                                    <h3><a href="#"> Intergrity </a></h3>
                                    <span>In all facets of our business, our action will remain consistent. We will gain trust by honoring our commitment, exemplifying honesty and integrity  to our customers</span>
                                        
                                    </div>
                                </div>
                                <div class="single_case">
                                    <div class="case_thumb">
                                            <img src="" alt="">
                                    </div>
                                    <div class="case_heading">
                                    <h3><a href="#"> Innovation.. </a></h3>
                                    <span>The products, systems and technologies that we deliver to our customer represent the leading edge in our industry</span><br><br>
                                        
                                    </div>
                                </div>
                                <div class="single_case">
                                    <div class="case_thumb">
                                            <img src="" alt="">
                                    </div>
                                    <div class="case_heading">
                                    <h3><a href="#"> Accountability </a></h3>
                                    <span>Each member of our company will be accountable for ownership  of their actions in relation to other members of the teams, various partners and to our customers</span>
                                        
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="more_close_btn text-center">
                                <a href="#" class="boxed-btn3-line">More Cases</a>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>

{% endblock %}