{% extends 'home/base.html' %}

{% block content %}
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3>Welcome To <br>
                                    Minawa Telecoms</h3>
                            <div class="video_service_btn">
                                <a href="#" class="boxed-btn3">Our Services</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_2 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3>We Know what you need <br>
                                    Call us and see for yourself !!</h3>
                            <div class="video_service_btn">
                                <a href="#" class="boxed-btn3">Our Services</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3>Were You Plug <br>
                                    for Evrything Electric</h3>
                            <div class="video_service_btn">
                                <a href="#" class="boxed-btn3">Our Services</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_2 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3>Big Opportunity <br>
                                    for your Business</h3>
                            <div class="video_service_btn">
                                <a href="#" class="boxed-btn3">Our Services</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->

<!-- service_area_start -->
<div class="service_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-50">
                    <h3>What we Do?</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_service text-center">
                    <div class="service_icon">
                        <img src="img/svg_icon/1.svg" alt="">
                    </div>
                    <h3>Audio and Video door phone intercoms</h3>
                    <p>Minawa secures your home  by using audio and video systems through allowing you to visually confirm and audibly speaks to visitors  to your home or business.
                        </p>
                    <a href="#" class="learn_more">Learn More</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_service text-center">
                    <div class="service_icon">
                        <img src="img/svg_icon/2.svg" alt="">
                    </div>
                    <h3>Office Telephone and PABX system</h3>
                    <p>Our company is a reputable source of innovative intercom systems and private automatic branch (PABX) systems set up.</p> <br>
                    <a href="#" class="learn_more">Learn More</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_service text-center">
                    <div class="service_icon">
                        <img src="img/svg_icon/3.svg" alt="">
                    </div>
                    <h3>Fiber Optics</h3>
                    <p>Fibre Optic Cable and Accessories Prices available on our website. We provide fiber installation and maintainance.</p> <br><br>
                    <a href="#" class="learn_more">Learn More</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_service text-center">
                    <div class="service_icon">
                        <img src="img/svg_icon/4.svg" alt="">
                    </div>
                    <h3>Power Solutions</h3>
                    <p>Increasing revenue with renewable energy.We Provide power solutions such as solar pannel installation</p> 
                    <a href="#" class="learn_more">Learn More</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_service text-center">
                    <div class="service_icon">
                        <img src="img/svg_icon/5.svg" alt="">
                    </div>
                    <h3>Surveilance and Security </h3>
                    <p>Need Eyes in your compound?, or yet at your bussiness area. We provide CCTV installation and maintainance.</p> 
                    <a href="#" class="learn_more">Learn More</a>
                </div>
            </div>
            <!-- <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_service text-center">
                    <div class="service_icon">
                        <img src="img/svg_icon/6.svg" alt="">
                    </div>
                    <h3>Travel Agency </h3>
                    <p>Esteem spirit temper too say adieus who direct esteem.</p>
                    <a href="#" class="learn_more">Learn More</a>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- service_area_end -->

<!-- about_info_area start  -->
<div class="about_info_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="about_text">
                    <h3>Want to know about Us?</h3>
                    <p>Minawa Communications Technology was started to provide reliable solutions in Networking,
                        Electrical, Solar, and Fiber Optics Technologies. <br>
                        We sell Networking Equipment as our core Bussiness. In addition we provide long lasting solutions in
                        Electrical, Solar and Survailance Systems. We maintain, implement and provide Fiber Optic solutions and Connectivity.</p>
                        <a href="#" class="boxed-btn3">About Us</a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="about_thumb">
                    <img src="../static/img/service/about.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /about_info_area end  -->

<!-- case_study_area  -->
<div class="case_study_area">
    <div class="container">
        <div class="border_bottom">
                <div class="row">
                        <div class="col-xl-12">
                            <div class="section_title text-center mb-40">
                                <h3>Our Products</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="case_active owl-carousel">
                                    <div class="single_case">
                                            <div class="case_thumb">
                                                    <img src="img/case/1.png" alt="">
                                                </div>
                                        <div class="case_heading">
                                                <span>Finance Solution</span>
                                                <h3><a href="#">Consumer Products Consulting</a></h3>
                                        </div>
                                    </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="more_close_btn text-center">
                                <a href="#" class="boxed-btn3-line">More Cases</a>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>
<!-- /case_study_area  -->

<!-- accordion  -->
<div class="accordion_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="accordion_thumb">
                        <img src="img/banner/accordion.png" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="faq_ask">
                        <h3>Frequently ask</h3>
                            <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                        Adieus who direct esteem <span>It esteems luckily?</span>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion" style="">
                                            <div class="card-body">Esteem spirit temper too say adieus who direct esteem esteems luckily or picture placing drawing.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                        Who direct esteem It esteems?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion" style="">
                                            <div class="card-body">Esteem spirit temper too say adieus who direct esteem esteems luckily or picture placing drawing.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                        Duis consectetur feugiat auctor?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion" style="">
                                            <div class="card-body">Esteem spirit temper too say adieus who direct esteem esteems luckily or picture placing drawing.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- accordion  -->

<div class="testimonial_area overlay ">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_carousel">
                            <div class="single_testmonial text-center">
                                    <div class="quote">
                                        <img src="img/svg_icon/quote.svg" alt="">
                                    </div>
                                    <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor <br> 
                                            sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque.  <br>
                                            Fusce ac mattis nulla. Morbi eget ornare dui. </p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                                <img src="img/case/testmonial.png" alt="">
                                        </div>
                                        <h3>Robert Thomson</h3>
                                        <span>Business Owner</span>
                                    </div>
                                </div>
                    </div>
                    <div class="single_carousel">
                            <div class="single_testmonial text-center">
                                    <div class="quote">
                                        <img src="img/svg_icon/quote.svg" alt="">
                                    </div>
                                    <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor <br> 
                                            sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque.  <br>
                                            Fusce ac mattis nulla. Morbi eget ornare dui. </p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                                <img src="img/case/testmonial.png" alt="">
                                        </div>
                                        <h3>Robert Thomson</h3>
                                        <span>Business Owner</span>
                                    </div>
                                </div>
                    </div>
                    <div class="single_carousel">
                            <div class="single_testmonial text-center">
                                    <div class="quote">
                                        <img src="img/svg_icon/quote.svg" alt="">
                                    </div>
                                    <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor <br> 
                                            sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque.  <br>
                                            Fusce ac mattis nulla. Morbi eget ornare dui. </p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                                <img src="img/case/testmonial.png" alt="">
                                        </div>
                                        <h3>Robert Thomson</h3>
                                        <span>Business Owner</span>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- team_area  -->
<div class="team_area">
        <div class="container">
            <div class="border_bottom">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section_title mb-40 text-center">
                            <h3>
                                    Expert Team
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single_team">
                            <div class="team_thumb">
                                <img src="img/team/3.png" alt="">
                            </div>
                            <div class="team_info text-center">
                                <h3>Milani Mou</h3>
                                <p>Photographer</p>
                                <div class="social_link">
                                    <ul>
                                        <li><a href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li><a href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li><a href="#">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single_team">
                            <div class="team_thumb">
                                <img src="img/team/2.png" alt="">
                            </div>
                            <div class="team_info text-center">
                                <h3>Jasmine Pinky</h3>
                                <p>Photographer</p>
                                <div class="social_link">
                                    <ul>
                                        <li><a href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li><a href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li><a href="#">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single_team">
                            <div class="team_thumb">
                                <img src="img/team/1.png" alt="">
                            </div>
                            <div class="team_info text-center">
                                <h3>Piya Zosoldos</h3>
                                <p>Photographer</p>
                                <div class="social_link">
                                    <ul>
                                        <li><a href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li><a href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li><a href="#">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- /team_area  -->

<div class="contact_form_quote">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="form_wrap">
                        <h3>Get Free Quote</h3>
                        <form action="#">
                            <input type="text" placeholder="Your Name" >
                            <input type="email" placeholder="Email" >
                            <textarea name="#" id="" cols="30" rows="10" placeholder="Message" ></textarea>
                            <button class="boxed-btn3">Send</button>
                        </form>
                </div>
            </div>
            <div class="col-xl-6 offset-xl-1 col-lg-6">
                <div class="contact_thumb">
                    <img src="img/banner/contact_thumb.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}