{% extends 'home/base.html' %}
{%load bootstrap4%}
{% block content %}
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3>Welcome To <br>
                                    Minawa Telecoms</h3>
                            <div class="video_service_btn">
                                <a href="#" class="boxed-btn3">Our Services</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_2 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3>We Know what you need <br>
                                    Call us and see for yourself !!</h3>
                            <div class="video_service_btn">
                                <a href="#" class="boxed-btn3">Our Services</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3>Were You Plug <br>
                                    for Evrything Electric</h3>
                            <div class="video_service_btn">
                                <a href="#" class="boxed-btn3">Our Services</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_2 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3>Big Opportunity <br>
                                    for your Business</h3>
                            <div class="video_service_btn">
                                <a href="#" class="boxed-btn3">Our Services</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->

<!-- service_area_start -->
<div class="service_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-50">
                    <h3>What we Do?</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_service text-center">
                    <div class="service_icon">
                        <img src="../static/img/svg_icon/upload.svg" alt="" style="height: 50px;">
                    </div>
                    <h3>Audio and Video door phone intercoms</h3>
                    <p>Minawa secures your home  by using audio and video systems through allowing you to visually confirm and audibly speaks to visitors  to your home or business.
                        </p>
                    <a href="#" class="learn_more">Learn More</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_service text-center">
                    <div class="service_icon">
                        <img src="../static/img/svg_icon/telephone.svg" alt="" style="height: 50px;">
                    </div>
                    <h3>Office Telephone and PABX system</h3>
                    <p>Our company is a reputable source of innovative intercom systems and private automatic branch (PABX) systems set up.</p> <br>
                    <a href="#" class="learn_more">Learn More</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_service text-center">
                    <div class="service_icon">
                        <img src="../static/img/svg_icon/optical-fiber.svg" alt="" style="height: 50px;">
                    </div>
                    <h3>Fiber Optics</h3>
                    <p>Fibre Optic Cable and Accessories Prices available on our website. We provide fiber installation and maintainance.</p> <br><br>
                    <a href="#" class="learn_more">Learn More</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_service text-center">
                    <div class="service_icon">
                        <img src="../static/img/svg_icon/innovation .svg" alt="" style="height: 50px;">
                    </div>
                    <h3>Power Solutions</h3>
                    <p>Increasing revenue with renewable energy.We Provide power solutions such as solar pannel installation</p> 
                    <a href="#" class="learn_more">Learn More</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_service text-center">
                    <div class="service_icon">
                        <img src="../static/img/svg_icon/security-camera.svg" alt="" style="height: 50px;">
                    </div>
                    <h3>Surveilance and Security </h3>
                    <p>Need Eyes in your compound?, or yet at your bussiness area. We provide CCTV installation and maintainance.</p> 
                    <a href="#" class="learn_more">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service_area_end -->

<!-- about_info_area start  -->
<div class="about_info_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="about_text">
                    <h3>Want to know about Us?</h3>
                    <p>Minawa Communications Technology was started to provide reliable solutions in Networking,
                        Electrical, Solar, and Fiber Optics Technologies. <br>
                        We sell Networking Equipment as our core Bussiness. In addition we provide long lasting solutions in
                        Electrical, Solar and Survailance Systems. We maintain, implement and provide Fiber Optic solutions and Connectivity.</p>
                        <a href="#" class="boxed-btn3">About Us</a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="about_thumb">
                    <img src="../static/img/service/about.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /about_info_area end  -->

<!-- case_study_area  -->
<div class="case_study_area">
    <div class="container">
        <div class="border_bottom">
                <div class="row">
                        <div class="col-xl-12">
                            <div class="section_title text-center mb-40">
                                <h3>Our Products</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="case_active owl-carousel">
                                {% for product_item in product %}
                                    <div class="single_case">
                                            <div class="case_thumb">
                                                    <img src="{{product_item.product_img.url}}" alt="">
                                                </div>
                                        <div class="case_heading">
                                                <span>{{product_item.product_solution}}</span>
                                                <h3><a href="#">{{product_item.product_title}}</a></h3>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="more_close_btn text-center">
                                <a href="#" class="boxed-btn3-line">More Cases</a>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>
<!-- /case_study_area  -->

<!-- accordion  -->
<div class="accordion_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="accordion_thumb">
                        <img src="../static/img/banner/accordion.jpg" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="faq_ask">
                        <h3>Why Choose us..?</h3>
                            <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Customer service
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion" style="">
                                            <div class="card-body">Superior Technical Knowledge
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                    Creative and  Innovative solutions
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion" style="">
                                            <div class="card-body">Using the latest available technologies, you are assured that the solution ou get Will be effective and efficient. We assure our solutions are simple, robust and unique
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Fast Respose Time 
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion" style="">
                                            <div class="card-body">Our sales and customer service team will not compromise when it comes to providing  excellent support and service
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- accordion  -->

<div class="testimonial_area overlay ">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_carousel">
                            <div class="single_testmonial text-center">
                                    <div class="quote">
                                        <img src="../static/img/svg_icon/quote.svg" alt="">
                                    </div>
                                    <p>Minawa telecomunications is the best service Provider when it comes to solar power installation
                                        , renewable energy. They helped me build a solar system for my irrigation scheme two years ago. It is still serving me 
                                    perfectly well. Thank You Minawa.  </p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                                <img src="../static/img/case/testmonial.png" alt="">
                                        </div>
                                        <h3>Emmanuel Abraham Njugun</h3>
                                        <span>Business Owner</span>
                                    </div>
                                </div>
                    </div>
                    <div class="single_carousel">
                        <div class="single_testmonial text-center">
                                <div class="quote">
                                    <img src="../static/img/svg_icon/quote.svg" alt="">
                                </div>
                                <p>Minawa telecomunications is the best service Provider when it comes to solar power installation
                                    , renewable energy. They helped me build a solar system for my irrigation scheme two years ago. It is still serving me 
                                perfectly well. Thank You Minawa.  </p>
                                <div class="testmonial_author">
                                    <div class="thumb">
                                            <img src="../static/img/case/testmonial.png" alt="">
                                    </div>
                                    <h3>Emmanuel Abraham Njugun</h3>
                                    <span>Business Owner</span>
                                </div>
                            </div>
                </div>
                <div class="single_carousel">
                    <div class="single_testmonial text-center">
                            <div class="quote">
                                <img src="../static/img/svg_icon/quote.svg" alt="">
                            </div>
                            <p>Minawa telecomunications is the best service Provider when it comes to solar power installation
                                , renewable energy. They helped me build a solar system for my irrigation scheme two years ago. It is still serving me 
                            perfectly well. Thank You Minawa.  </p>
                            <div class="testmonial_author">
                                <div class="thumb">
                                        <img src="../static/img/case/testmonial.png" alt="">
                                </div>
                                <h3>Emmanuel Abraham Njugun</h3>
                                <span>Business Owner</span>
                            </div>
                        </div>
            </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<div></div>
<div class="contact_form_quote">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="form_wrap">
                        <h3>Get Free Quote</h3>
                <form class=" form-group" action="" method="POST">
                    {%csrf_token%}
                    {%bootstrap_form form%}
                    <button class="boxed-btn3" type="submit" name="button">Send</button>
              </form>
                </div>
            </div>
            <div class="col-xl-6 offset-xl-1 col-lg-6">
                <div class="contact_thumb">
                    <img src="../static/img/banner/contact_thumb.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}